<h1><%= t('mailers.user_mailer.booking_cancelled.subject') %></h1>

<p><%= t('mailers.user_mailer.booking_cancelled.greeting', name: @user.name) %></p>

<p><%= t('mailers.user_mailer.booking_cancelled.intro') %></p>

<%= render layout: 'card' do %>
  <h3 style="margin-top: 0; color: #FFFFFF;"><%= t('mailers.user_mailer.booking_cancelled.cancelled_trip') %></h3>
  <p><strong><%= t('mailers.user_mailer.booking_cancelled.origin') %></strong> <%= @trip.departure_location %></p>
  <p><strong><%= t('mailers.user_mailer.booking_cancelled.destination') %></strong> <%= @trip.arrival_location %></p>
  <p><strong><%= t('mailers.user_mailer.booking_cancelled.datetime') %></strong> <%= l(@trip.departure_time, format: :email) %></p>
  <p><strong><%= t('mailers.user_mailer.booking_cancelled.seats_reserved') %></strong> <%= @booking.seats %></p>
<% end %>

<p><%= t('mailers.user_mailer.booking_cancelled.help_text') %></p>

<div style="text-align: center; margin: 32px 0;">
  <%= render 'button', url: "#{@frontend_url}/my-bookings", text: t('mailers.user_mailer.booking_cancelled.button') %>
</div>

<p><%= t('mailers.user_mailer.booking_cancelled.goodbye') %></p>

<p><strong><%= t('mailers.user_mailer.booking_cancelled.team') %></strong></p>
