<h1><%= t('mailers.user_mailer.booking_rejected.subject') %></h1>

<div class="email-content">
  <p><%= t('mailers.user_mailer.booking_rejected.greeting', name: @user.name) %></p>
  
  <p><%= t('mailers.user_mailer.booking_rejected.intro') %></p>

  <div class="highlight">
    <h3 style="margin-top: 0;"><%= t('mailers.user_mailer.booking_rejected.rejected_trip') %></h3>
    <p><strong><%= t('mailers.user_mailer.booking_rejected.origin') %></strong> <%= @trip.departure_location %></p>
    <p><strong><%= t('mailers.user_mailer.booking_rejected.destination') %></strong> <%= @trip.arrival_location %></p>
    <p><strong><%= t('mailers.user_mailer.booking_rejected.datetime') %></strong> <%= l(@trip.departure_time, format: :email) %></p>
    <p><strong><%= t('mailers.user_mailer.booking_rejected.seats_reserved') %></strong> <%= @booking.seats %></p>
  </div>

  <p><%= t('mailers.user_mailer.booking_rejected.apology_text') %></p>

  <p style="text-align: center;">
    <a href="#" class="email-button"><%= t('mailers.user_mailer.booking_rejected.find_another_trip') %></a>
  </p>

  <p><%= t('mailers.user_mailer.booking_rejected.goodbye') %></p>
  
  <p><%= t('mailers.user_mailer.booking_rejected.team') %></p>
</div>
