<h1><%= t('mailers.user_mailer.booking_rejected.subject') %></h1>

<p><%= t('mailers.user_mailer.booking_rejected.greeting', name: @user.name) %></p>

<p><%= t('mailers.user_mailer.booking_rejected.intro', driver_name: @driver.name) %></p>

<%= render layout: 'card' do %>
  <h3 style="margin-top: 0; color: #FFFFFF;"><%= t('mailers.user_mailer.booking_rejected.trip_details') %></h3>
  <p><strong><%= t('mailers.user_mailer.booking_rejected.origin') %></strong> <%= @trip.departure_location %></p>
  <p><strong><%= t('mailers.user_mailer.booking_rejected.destination') %></strong> <%= @trip.arrival_location %></p>
  <p><strong><%= t('mailers.user_mailer.booking_rejected.datetime') %></strong> <%= l(@trip.departure_time, format: :email) %></p>
  <p><strong><%= t('mailers.user_mailer.booking_rejected.seats') %></strong> <%= @booking.seats %></p>
<% end %>

<div style="border-left: 4px solid #FF419C; padding-left: 16px; margin: 24px 0;">
  <p><%= t('mailers.user_mailer.booking_rejected.rejection_reason') %></p>
</div>

<p><%= t('mailers.user_mailer.booking_rejected.apology_text') %></p>

<div style="text-align: center; margin: 32px 0;">
  <%= render 'button', url: @frontend_url, text: t('mailers.user_mailer.booking_rejected.button') %>
</div>

<p><%= t('mailers.user_mailer.booking_rejected.goodbye') %></p>

<p><strong><%= t('mailers.user_mailer.booking_rejected.team') %></strong></p>
