<h1><%= t('mailers.user_mailer.welcome_email.greeting', name: @user.name) %></h1>

<p><%= t('mailers.user_mailer.welcome_email.intro') %></p>

<p><%= t('mailers.user_mailer.welcome_email.features_title') %></p>

<%= render layout: 'card' do %>
  <p><strong><%= t('mailers.user_mailer.welcome_email.feature_offer') %></strong></p>
  <p><strong><%= t('mailers.user_mailer.welcome_email.feature_find') %></strong></p>
  <p><strong><%= t('mailers.user_mailer.welcome_email.feature_planet') %></strong></p>
  <p><strong><%= t('mailers.user_mailer.welcome_email.feature_people') %></strong></p>
<% end %>

<p><%= t('mailers.user_mailer.welcome_email.account_created', email: "<strong style='color: #0BB1D3;'>#{@user.email}</strong>").html_safe %></p>

<div style="text-align: center; margin: 32px 0;">
  <%= render 'button', url: @frontend_url, text: t('mailers.user_mailer.welcome_email.button') %>
</div>

<h2><%= t('mailers.user_mailer.welcome_email.next_steps_title') %></h2>
<p>
  • <%= t('mailers.user_mailer.welcome_email.next_step_search') %><br>
  • <%= t('mailers.user_mailer.welcome_email.next_step_publish') %><br>
  • <%= t('mailers.user_mailer.welcome_email.next_step_profile') %><br>
  • <%= t('mailers.user_mailer.welcome_email.next_step_book') %>
</p>

<p><%= t('mailers.user_mailer.welcome_email.help') %></p>

<p><%= t('mailers.user_mailer.welcome_email.goodbye') %></p>

<p><strong><%= t('mailers.user_mailer.welcome_email.team') %></strong></p>
